<div class="bar bar-header bar-positive">
  <a class="button button-icon icon ion-ios7-arrow-left" ng-click = "historyBack()">返回</a>
  <h1 class="title">修改密码</h1>
</div>
<ion-content>
	<div class="list list-inset">
		<label class="item item-input">
			<i class="icon ion-ios7-locked placeholder-icon"></i>
			<input ng-model="editPwd.newPassword" type="password"  placeholder="输入新密码" />
		</label>
		<label class="item item-input">
			<i class="icon ion-ios7-locked placeholder-icon"></i>
			<input ng-model="editPwd.repeatPassword" type="password"  placeholder="再次确认密码" />
		</label>
	</div>
	<div class="padding">
		<button class="button button-block button-energized no-bottom-margin" ng-click="submit();">
		  确认修改
		</button>
	</div>
</ion-content>
<!--<div class="list">
	<label class="item item-input">
		<i class="icon ion-ios7-locked placeholder-icon"></i>
		<input ng-model="new_password" type="password" placeholder = "输入新密码" >
	</label>
	<label class="item item-input">
		<i class="icon ion-ios7-locked placeholder-icon"></i>
		<input ng-model="repeat_password" type="password" placeholder = "再次确认密码" >
	</label>
</div>

	<button class="button button-block button-assertive" ng-click="submit();">确认修改</button>-->