<div class="bar bar-header bar-positive">
  <a class="button button-icon icon ion-ios7-arrow-left" ng-click = "historyBack()">返回</a>
  <h1 class="title">找回密码</h1>
</div>
<ion-content>
	<div class="list list-inset">
		<label class="item item-input">
			<i class="icon ion-android-mail placeholder-icon"></i>
			<input ng-model="items.email" type="email"  placeholder="请输入注册本站时使用的邮箱地址" />
		</label>
	</div>
	<div class="padding">
		<button class="button button-block button-energized no-bottom-margin" ng-click="submit();">
		  提交
		</button>
	</div>
</ion-content>