<ion-modal-view>
  <ion-header-bar>
    <a class="button button-icon icon ion-ios7-arrow-left positive" ng-click = "closeModal();"></a>
    <div class="title">Zinch中国网络服务使用条款<br>(2012年6月11日更新)</div>
    
  </ion-header-bar>
  <ion-content class="padding">
    <h3>1. 使用条款的适用</h3>
    <ul>
      <li>1.1 Zinch中国旨在为未来的大学生创建网上个人履历、多角度了解海外院校信息而提供网络服务（“Zinch服务”）。Zinch中国将按照本网络服务使用条款（“Zinch使用条款”）的规定，向包括个人和机构在内的用户提供Zinch服务。您在使用Zinch中国提供的各项服务前，请务必仔细阅读Zinch使用条款。</li>
      <li>1.2 Zinch使用条款规定了用户使用Zinch服务的条款，具有法律约束力。凡是Zinch服务的使用者，不论是“访客”（仅浏览Zinch中国网页），还是“会员”（在Zinch中国网站上注册的学生、高等院校或其他教育性机构等），必须在同意遵守所有现行法律和Zinch使用条款的情况下，才能使用Zinch服务。 如果您不同意Zinch使用条款，则应立即离开Zinch中国网页并停止使用一切Zinch服务。 如果您愿意注册成为Zinch中国会员并享受Zinch服务，您必须在注册过程中点击“同意”，表示完全接受Zinch使用条款。Zinch使用条款适用Zinch中国的用户，包括“访客”和“会员”。Zinch使用条款亦适用于曾经是Zinch中国的用户。</li>
      <li>1.3 如果用户是学生，该学生用户有权在Zinch中国网页上创建、浏览、修改、删除本人的网上个人履历，但不能创建、浏览、修改、删除其他学生用户的网上个人履历。 学生用户的网上个人履历将向使用Zinch中国网上数据库的机构开放，包括但不限于计划招生的大学和其他机构。&nbsp;</li>
      <li>1.4 Zinch中国有权在任何时候通过在本网站上发布更新版本的方式来修改Zinch使用条款。该更新版本自在Zinch中国网站发布之日起自动生效。如果用户在更新版本的Zinch使用条款发布后继续使用网络服务，则视为用户接受Zinch中国对Zinch使用条款所做的修改。</li>
      <li>1.5 Zinch中国针对某些特定的Zinch服务的使用通过各种方式（包括但不限于网页公告、电子邮件、短信提醒等）作出的任何声明、通知、警示等内容视为Zinch使用条款的一部分，用户如使用该等Zinch服务，视为用户同意该等声明、通知、警示的内容。
        <div>用户在享用Zinch注册用户服务的同时，同意接受Zinch为会员提供的各类国际教育相关信息、活动信息、特色服务信息等告知信息的权力，包括但不限于网页公告、电子邮件、短信息提醒等。</div>
        <div>Zinch向注册用户发送短信服务，如果用户回复Zinch的短信息内容，包括但不限于回复短信、图片；点击短信连接浏览网站页面等产生的费用为有偿计费服务，具体的价格及收费标准依照运营商规定而定。</div>
      </li>
      <li>1.6 Zinch中国有权以其认为适当的方式拒绝发布、转移、删除用户张贴的任何内容，或者限制、暂停、终止用户使用Zinch服务的权利，Zinch中国不会因上述行为承担任何法律责任。</li>
      <li>
        <div>1.7 Zinch使用条款包括Zinch隐私声明，凡Zinch使用条款提及隐私声明，其内容即被包含在该使用条款中。您使用Zinch服务即意味着您同意Zinch使用条款和Zinch隐私声明的全部内容。</div>
      </li>
      <li>&nbsp;</li>
    </ul>
    <h3>2. 会员资格</h3>
    <ul>
      <li>学生、谋求高等教育的个人、经鉴定合格的大学、中等或高等教育机构、推动Zinch中国理念的非盈利机构、其他合法商业机构均可注册为Zinch中国的会员。</li>
    </ul>
    <h3>3. Zinch内容</h3>
    <ul>
      <li>
        <div>3.1 Zinch中国授权学生用户为个人目的浏览和使用Zinch中国发布的内容。Zinch中国授权非学生用户为职业目的浏览和使用Zinch中国发布的内容。Zinch中国网站上的所有内容，包括但不限于任何文本、图片、图形、音频视频资料和软件合称“Zinch内容”。<br>
          &nbsp;</div>
        <div>3.2　Zinch内容归Zinch中国或相关权利人所有，并受版权、商标和/或其它财产所有权法律的保护。未经Zinch中国和相关权利人同意，上述资料均不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行，或者被用于其他任何商业目的。Zinch中国就其网站上编辑的内容专属于Zinch中国所有，任何人使用该内容必须保留原有Zinch中国的所有标记，包括版权、商标、服务标记和其他专有权利记号和说明。并注明出处。<br>
          &nbsp;</div>
        <div>3.3　Zinch内容的任何部分仅可作为私人和非商业用途而保存在某台计算机内。Zinch中国不就由上述资料产生或在传送或递交全部或部分上述资料过程中产生的延误、不准确、错误和遗漏或从中产生或由此产生的任何损害进行赔偿，或以任何形式向用户或任何第三方负责。<br>
          &nbsp;</div>
        <div>3.4　Zinch服务的具体内容由Zinch中国根据实际业务发展情况提供，包括但不限于搜索、交友、论坛(BBS)、发表评论、分享照片等。Zinch中国在提供网络服务时，可能会对部分网络服务的用户收取一定的费用。在此情况下，Zinch中国会在相关页面上做明确的提示。如用户拒绝支付该等费用，则不能使用相关的服务。&nbsp;</div>
      </li>
    </ul>
    <h3>4. 使用Zinch服务的限制</h3>
    <ul>
      <li>
        <div>用户使用Zinch服务必须出于合法目的，且必须遵守下列规定：<br>
          &nbsp;</div>
        <div>4.1 遵守中华人民共和国《宪法》、《刑法》等相关法律法规，不得利用互联网从事法律法规禁止的行为；<br>
          &nbsp;</div>
        <div>4.2 遵守所有与网络服务有关的网络协议、规定和程序；不得利用Zinch中国网络服务系统进行任何可能对互联网正常运转造成不利影响的行为；<br>
          &nbsp;</div>
        <div>4.3 不得以任何形式使用Zinch中国网络服务侵犯Zinch中国的商业利益；<br>
          &nbsp;</div>
        <div>4.4 不得获取Zinch中国禁止该用户使用的帐号、服务器或数据；<br>
          &nbsp;</div>
        <div>4.5 不得利用Zinch中国提供的网络服务上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；&nbsp;<br>
          &nbsp;</div>
        <div>4.6 不得将任何广告信函、促销资料、垃圾邮件、直销或其他任何形式的劝诱资料加以上载、张贴、发送电子邮件或以其他方式传送，惟专供前述目的使用之区域，按照有关适用指引或规则进行的行为不在此限；<br>
          &nbsp;</div>
        <div>4.7不得侵犯其他任何第三方的专利权、著作权、商标权、名誉权或其他任何合法权益；<br>
          &nbsp;</div>
        <div>4.8 如发现任何非法使用用户帐号或帐号出现安全漏洞的情况，应立即通告Zinch中国；<br>
          &nbsp;</div>
        <div>4.9 Zinch中国为Zinch服务而使用的任何软件（包括但不限于软件中所含的任何图象、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于Zinch中国或该软件的著作权人，未经Zinch中国或该软件的著作权人许可，用户不得对该软件进行反向工程（reverse engineer）、反向编译（decompile）或反汇编（disassemble）。</div>
      </li>
    </ul>
    <h3>5. Zinch中国附加服务</h3>
    <ul>
      <li>
        <div>5.1 一对一在线聊天服务<br>
          &nbsp;</div>
        <div>本条协议5.1面向参与一对一在线聊天服务的用户，是您与zinch中国网站（简称“本站”，网址：www.zinch.cn）所有者北京凯仁信息技术有限公司（以下简称为“销售方”）之间就zinch中国网站提供服务等相关事宜所订立的契约，请您仔细阅读本注册协议，您点击“同意以下协议，提交”按钮后，本协议即构成对双方有约束力的法律文件。<br>
          &nbsp;</div>
        <div>基本条款</div>
        <div>a)本站上销售方展示的服务和价格等信息仅仅是要约邀请，您下单时须选择您希望购买的服务名称、可提供的支付方式、优惠券使用情况等内容；系统生成的订单信息是计算机信息系统根据您填写的内容自动生成的数据，仅是您向销售方发出的合同要约；</div>
        <div>b)您在本站购买任何服务时，当且仅当您完成支付流程，且销售方收款账号收到款项后，方视为您购买服务的最终购买凭证。</div>
        <div>c)销售方收到您的订单信息后，只有在销售方向您提供订单中服务提供方的联系方式时，方视为销售方直接向您发出的服务建立了合同关系；</div>
        <div>d)由于市场变化及各种以合理商业努力难以控制的因素的影响，本站无法保证您提交的订单信息中希望购买的服务都会有货；如您拟购买的服务，因不可预知因素临时终止，永久终止或发生缺货，您有权取消订单，本站将退还您全部款项；</div>
        <div>e)购买本站服务后，您有义务对服务内容，包括服务提供方的联系方式，姓名等个人信息，不得透露给第三方或以盈利为目的透露给其他人，造成服务提供方及销售当的困扰等；</div>
        <div>f)用户同意，本站拥有通过邮件、短信电话等形式，向在本站注册、购物用户、服务提供方发送订单信息、促销活动等告知信息的权利。</div>
        <div>g)您在本站购买任何服务后，您因个人原因，非本站原因，在服务最终产生前，临时终止或永久终止接受已购买服务，本站将不予以退还您所支付的款项，并取消您已购买的服务使用权；</div>
        <div>h)如因不可抗力，例如：网络堵塞，网络连接不稳定等，造成在服务提供过程中，服务提供被临时中断，或永久中断，使您无法体验全部服务过程，经本站核实属实，确为不可抗力，本站将退还您所支付的全部款项，并取消您该项服务购买及服务使用权；</div>
        <div>i)如果您在体验服务时，对服务提供方产生不满或抱怨，或由您提出临时或永久终止服务，您有权投诉，本站将对事情进行核实，并对已支付款项进行返还。</div>
      </li>
    </ul>
    <h3>6. 用户注册</h3>
    <ul>
      <li>
        <div>6.1 学生用户在申请使用Zinch服务时，必须向Zinch中国提供真实有效的个人资料，如个人资料有任何变动，必须及时更新。学生用户理解并同意Zinch中国有权向包括大学、教育机构等在内的第三方披露学生注册提交的个人资料和相关信息。学生用户进一步同意，当政府机关依照法定程序要求Zinch中国披露个人资料和相关信息时，Zinch中国将根据执法单位之要求或为公共安全之目的提供个人资料。上述情况下之任何披露，Zinch中国均不承担任何责任。<br>
          &nbsp;</div>
        <div>6.2 用户注册成功后，Zinch中国将给予每个用户一个用户帐号及相应的密码，该用户负责保管该帐号和密码，并对以此帐号进行的所有活动和事件负法律责任。用户不得将其帐号、密码转让或出借予他人使用。如用户发现其帐号丢失，应立即通知Zinch中国。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，Zinch中国不承担任何责任。<br>
          &nbsp;</div>
        <div>6.3 用户同意Zinch中国有权根据用户在注册过程中提供的信息向用户发出提供商品或服务的要约。无论该要约是通过Zinch中国还是第三方向用户发出的，Zinch中国均不对第三方提供的商品或服务的性质和品质作任何承诺和保证。<br>
          &nbsp;</div>
        <div>6.4 用户同意Zinch中国有权在提供Zinch服务过程中以各种方式投放各种商业性广告或其他任何类型商业信息（包括但不限于在Zinch中国网站任何页面上投放广告），同时，用户同意接受Zinch中国通过电子邮件或其他方式向用户发送相关商业信息。<br>
          &nbsp;</div>
        <div>6.5 用户一旦撤销Zinch中国的账户，Zinch中国将在其网络页面删除用户所有个人资料和信息，但是Zinch中国数据库将保留用户个人资料和信息。即使用户将个人履历从Zinch中国网页上删除，Zinch中国对于用户删除个人履历之前第三方已经浏览、保留和使用用户的个人履历和个人资料的行为不负任何责任。</div>
      </li>
    </ul>
    <h3>7. 用户内容</h3>
    <ul>
      <li>
        <div>7.1 用户对提交、发表、和展示的Zinch中国账户信息、个人履历、文字消息、图片、视频和音频等任何信息（“用户内容”）负全部责任。用户一旦将用户内容张贴到Zinch中国网页上公众可随意浏览的区域，即表明用户同意Zinch中国在全球范围内具有免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和/或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。用户保证，对于其张贴到Zinch中国网页上的任何内容，用户均拥有完整的处分权利或获得合法的授权，且不违反他人的知识产权、隐私权等任何合法权利。<br>
          &nbsp;</div>
        <div>7.2 Zinch中国网站上发布的用户内容均与Zinch中国无关，并且Zinch中国不对任何用户内容中包含的意见、建议和观点负任何责任。Zinch中国对用户内容没有审查和监督的义务。但是，Zinch中国有权对用户使用Zinch服务的情况进行审查和监督(包括但不限于对用户存储在Zinch中国的内容进行审核)，如用户在使用Zinch服务时违反Zinch使用条款的任何规定，Zinch中国有权展开调查、并采取其认为合适的行动，包括要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容等、暂停或终止用户使用Zinch服务的权利）以减轻用户不当行为造成的影响。<br>
          &nbsp;</div>
        <div>7.3 Zinch中国服务并不能取代大学录取申请的过程。Zinch中国不能保证其能帮助学生用户受到大学或其他高等教育机构的录取、奖学金资助或其他教育机会。Zinch中国并不对用户的个人资料、履历和其他相关信息进行验证，也不对其真实性和准确性作任何承诺和保证。Zinch中国不对其提供的任何信息和出具的任何意见负责，如果用户依赖该信息或意见作出任何决定，其风险和结果将由用户承担，与Zinch中国无关。<br>
          &nbsp;</div>
        <div>7.4 用户向Zinch中国提出的建议、评价或意见不得包含创新性观点、发明资料，否则Zinch中国将有权无偿使用或披露用户的建议、评价或意见并拥有其中包含的所有权利。</div>
        <div>&nbsp;</div>
      </li>
    </ul>
    <h3>8. 免责声明</h3>
    <ul>
      <li>
        <div>8.1 因用户使用Zinch服务而产生的一切后果由其自行承担。用户同意并放弃追究因Zinch内容以及Zinch服务产生的用户及其继承人、代表人、受让人遭受人身和财产损失的法律责任。<br>
          &nbsp;</div>
        <div>8.2 对于用户利用Zinch服务时侵害他人的著作权、商标权、肖像权、隐私权等合法权利的情况，Zinch中国不承担任何法律责任。如果发生由于用户侵害他人合法权利的情况，Zinch中国被第三人告发、起诉、涉及损失赔偿等时，用户必须声明其行为与Zinch中国无关且Zinch中国不负责任何法律责任。<br>
          &nbsp;</div>
        <div>8.3 Zinch中国不担保Zinch服务一定能满足用户所有需求，不担保网络服务不会中断，不负有对网络服务的及时性、安全性、准确性作担保的义务。<br>
          &nbsp;</div>
        <div>8.4 Zinch中国不对Zinch内容的真实性、准确性、完整性和安全性负责。Zinch中国也不对外部链接的真实性、准确性、完整性和安全性负责。<br>
          &nbsp;</div>
        <div>8.5 对于因不可抗力或Zinch中国不能控制的原因造成的网络服务中断或其它缺陷，Zinch中国不承担任何责任。</div>
      </li>
    </ul>
    <h3>9. 版权侵权的通知</h3>
    <ul>
      <li>9.1 如果任何人发现其受著作权保护的作品被上传、张贴或复制到Zinch中国的网页上并可能构成著作权侵权的情形，请立即通知Zinch中国，并提交下列信息：</li>
      <li>（1）著作权人的签名，</li>
      <li>（2）受著作权保护的作品的描述，以及著作权侵权的情况说明，</li>
      <li>（3）发生著作权侵权的URL地址，</li>
      <li>（4）举报人的姓名和联系方式，</li>
      <li>（5）声明有合理理由相信其投诉的著作权侵权行为存在，</li>
      <li>（6）声明举报人是著作权人或得到著作权人授权而提交版权侵权通知，并愿意承担与此有关的法律后果。</li>
    </ul>
    <h3>10. 服务变更、中断或终止</h3>
    <ul>
      <li>
        <div>10.1鉴于网络服务的特殊性，用户同意Zinch中国有权随时变更、中断或终止部分或全部的Zinch服务。<br>
          &nbsp;</div>
        <div>10.2 用户理解，Zinch中国需要不定期地对提供Zinch服务的平台或相关设备进行维护，如因此而造成网络服务的中断，Zinch中国无需为此承担任何责任，但Zinch中国应尽可能事先进行通告。<br>
          &nbsp;</div>
        <div>10.3 如发生下列任何一种情形，Zinch中国有权随时中断或终止向某一用户提供本协议项下的Zinch服务而无需对该用户或任何第三方承担任何责任：<br>
          1） 用户提供的个人资料不真实；<br>
          2） 用户违反Zinch使用条款中的任何规定；或者（3）用户注册的帐号在任何连续180日内未实际使用。</div>
      </li>
    </ul>
    <h3>11. 违约赔偿</h3>
    <ul>
      <li>用户同意保障和维护Zinch中国及其他用户的利益，如因用户违反有关法律、法规或Zinch使用条款而给Zinch中国或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。&nbsp;</li>
    </ul>
    <h3>12. 通知送达</h3>
    <ul>
      <li>
        <div>12.1 所有Zinch中国对于用户的通知均可通过网页公告、电子邮件、手机短信或常规信件传送等方式进行；该等通知于发送之日起视为已送达收件人。<br>
          &nbsp;</div>
        <div>12.2 用户对于Zinch中国的通知应当通过Zinch中国对外正式公布的通信地址、传真号码、电子邮件地址等联系信息进行送达。</div>
      </li>
    </ul>
    <h3>13. 法律管辖</h3>
    <ul>
      <li>Zinch使用条款应根据中华人民共和国法律解释和管辖。 如双方就本协议内容或协议的执行发生任何争议，应尽量友好协商解决；协商不成时，任何一方均可向Zinch中国所在地的人民法院提起诉讼。</li>
    </ul>
    <h3>14. 瑕疵条款</h3>
    <ul>
      <li>Zinch使用条款的任何条款如为或成为非法的，无效的或不可执行的，该条款将尽最大程度可能性地符合该条款原意或使该条款原意有效的方式修改和/或按合法的、有效的或可执行的条款取代，如果不允许这样修改或取代，该条款将被视为从Zinch使用条款中分离。该条款的违法性、无效性和不可执行性不会影响Zinch使用条款中其他条款的合法有效性和执行力，其他条款将继续完全有效并执行。</li>
    </ul>
    <h3>15. 弃权</h3>
    <ul>
      <li>任何时候如一方未能坚持要求对方严格遵守本条款的规定，或未对违约行为寻求救济，并不构成或被解释为构成对本条款、违约行为、其他权利或救济的弃权。</li>
    </ul>
    <div class="padding">
      <button class="button button-block button-calm no-bottom-margin" ng-click="closeModal();">
        关闭窗口
      </button>
    </div>
  </ion-content>
</ion-modal-view>